{% extends 'base.html' %}

{% block form %}
  

        {% if parent %}
        <form method="POST" style="background: rgba(0,0,0,0.8) " enctype="multipart/form-data">
            {% csrf_token %}
            <h1 style="color: white">Is <p style="color:green">{{ parent.first_name}} {{ parent.last_name}}</p> your parent?</h1><br>
            <input type='hidden' name="parent" value="{{ parent }}">
            <input class="btn btn-primary btn-lg" style="padding: 30px 30px font-size: 24px" type="submit" name="action" value="YES">
            <a class="btn btn-primary" href="{% url "pre_register" %}" role="button">NO</a>

        {% else %}

        <h1 style="color: white">Enter your parent's email below.</h1> 
        <form method="POST" style="background: rgba(0,0,0,0.8) " enctype="multipart/form-data">
            {% csrf_token %}
            <h3 style="color: green;">
            <input type="email" placeholder='123@gmail.com' name='email'></h3>
            
            <input type="submit" class='btn btn-primary' name="action" value='submit'><br> 

        {% endif %}
                  
{% endblock form%} 