{% extends 'base.html' %}


{% block table %}
    <table class="table table-dark table-bordered table-hover" style="color: green;">
        <thead>
            <tr>
            <th scope="col">Title</th>
            <th scope="col">Date</th>
            <th scope="col">Content</th>
            <th scope="col">Proof</th>
            <th scope="col">Status</th>

            </tr>
        </thead>
        <tbody>
            <tr>
            {% for obj in all_claims%}
            <th scope="row">{{ obj.claim_title}}</th>
            <td>{{ obj.filed_date}}</td>
            <td>{{ obj.content}}</td>
            <td><a href="../{{ obj.uploads}}">{{ obj.uploads}}</a></td>
            <td>{{ obj.status}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
{%endblock table%}